*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared Style */
.font-family {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

.logo h2{
    font-size: 45px;
    font-weight: 900;
    color: #181818;
}
.logo h2 span{
    color: #FD6E0A;
}

.btn{
    background-color: #FD6E0A;
    color: #FFFFFF !important;
    border-radius: 5px;
    padding: 18px 35px;

}


/* main style */
header{
    background: #FFF8F3;
    /* background-color: red; */
    padding: 10px;
}

nav{
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    display: flex;
    justify-content: space-between;
    gap: 51px;
    list-style: none;
}
nav .menu a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    /* color: #474747; */
}